<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/plantilla :: head}">
    <title>Techshop</title>
    <meta charset="UTF-8"/>

</head>
<body>
<header th:replace="~{layout/plantilla :: header}"/>

<section th:replace="~{usuario/fragmentos :: btnAgregar}"/>
<section th:replace="~{usuario/fragmentos :: agregarUsuario}"/>
<section th:replace="~{usuario/fragmentos :: tabs}"/>
<section th:replace="~{usuario/fragmentos :: tarjetas}"/>


<footer th:replace="~{layout/plantilla :: footer}"/>
</body>
</html>
