<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://wwww.tymeleaf.org/tymeleaf-extra-springsegurity6"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Gabriel Gym</title>
        <meta charset="UTF-8"/>        

    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>

        <section th:replace="~{sobreNosotros/fragmentos :: listado}"/>


        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>
