<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/plantilla :: head}">
    <meta charset="UTF-8"/>
</head>

<body>
<!-- 1 Sección para crear el boton de agregar... llamará a una ventana modal-->
<section class="py-4 mb-4 bg-light" th:fragment="btnAgregar">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <button
                        class="btn btn-primary btn-block"
                        data-bs-target="#agregarRol"
                        data-bs-toggle="modal"
                        type="button">
                    <i class="fas fa-plus"> Agregar Rol</i>
                </button>
            </div>
        </div>
    </div>
</section>
<!-- 2 Fragmento para agregar producto, es la ventana modal -->
<section th:fragment="agregarRol">
    <div aria-hidden="true"
         aria-labelledby="exampleModalLabel"
         class="modal fade"
         id="agregarRol"
         tabindex="-1">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header bg-info text-white">
                    <h5 class="modal-title">Agregar nuevo Rol</h5>
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <form class="was-validated" enctype="multipart/form-data"
                      method="POST" th:action="@{/rol/guardar}" th:object="${rol}">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label>Rol</label>
                        </div>
                        <div class="mb-3">
                            <label>Nombre de Rol</label>
                            <input class="form-control" name="nombreRol" required="true" type="text"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- 4 Sección para mostrar las tarjetas de los productos -->
<section th:fragment="tarjetas">
    <div class="row row-cols-4 p-2 d-flex justify-content-center">
        <div class="card" style="width: 18rem;" th:each="p : ${roles}">
            <h5 class="card-title">[[${p.nombreRol}]]</h5>
            <div style="display: flex; gap: 10px;">
                <a th:href="@{/rol/modificar/}+${p.idRol}">
                    <button class="btn btn-primary">
                        <i class="fas fa-edit"></i>
                    </button>
                </a>
                <a th:href="@{/rol/eliminar/}+${p.idRol}">
                    <button class="btn btn-primary">
                        <i class="fas fa-trash"></i>
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>

<section th:fragment="editarRol">
    <div class="row p-3">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form class="was-validated"
                  enctype="multipart/form-data"
                  method="POST"
                  th:action="@{/rol/guardar}"
                  th:object="${rol}">
                <input name="idRol" th:field="*{idRol}" type="hidden"/>
                <div class="row py-4 mb-4 bg-light">
                    <div class="col-md-4 d-grid">
                        <a class="btn btn-primary" th:href="@{/rol/listado}">
                            <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">
                        <a class="btn btn-danger"
                           th:href="@{/rol/eliminar/}+${rol.idRol}">
                            <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button class="btn btn-success" type="submit">
                            <i class="fas fa-check"></i> [[#{accion.guardar}]]
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="card">
                        <div class="card-header">
                            <h4>[[#{accion.actualizar}]]</h4>
                        </div>
                        <div class="mb-3">
                            <label>Nombre Rol</label>
                            <input class="form-control" name="nombreRol" required="true" type="text" th:field="*{nombreRol}"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
</body>
</html>
