<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://wwww.tymeleaf.org/tymeleaf-extra-springsegurity6"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Formulario de Contacto - Gabriel Gym</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <!-- 1 Sección para crear el boton de agregar... llamará a una ventana modal-->
        <section th:fragment="btnAgregar" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">   
                        <button 
                            type="button" 
                            class="btn btn-custom-primary btn-block" 
                            data-bs-toggle="modal" 
                            data-bs-target="#agregarFormularioContacto">
                            <i class="fas fa-plus"></i> Nuevo Contacto
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <!-- 2 Fragmento para agregar formularioContacto, es la ventana modal -->
        <section th:fragment="agregarFormularioContacto">
            <div id="agregarFormularioContacto"
                 class="modal fade"
                 tabindex="-1"
                 aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Agregar</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form th:action="@{/formularioContacto/guardar}" th:object="${formularioContacto}"
                              method="POST" class="was-validated" enctype="multipart/form-data">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="idUsuario">Usuario</label>
                                    <input type="number" class="form-control" name="idUsuario" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="asunto">Asunto</label>
                                    <input type="text" class="form-control" name="asunto" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="mensaje">Mensaje</label>
                                    <input type="text" class="form-control" name="mensaje" required="true"/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-custom" type="submit">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- 3 Sección principal para mostrar los mensajes -->
        <section th:fragment="listado" id="formularioContacto">
            <div class="container p-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Usuario</th>
                                        <th>Asunto</th>
                                        <th>Mensaje</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="f : ${formularioContactos}">
                                        <td>[[${f.idUsuario}]]</td>
                                        <td>[[${f.asunto}]]</td>
                                        <td>[[${f.mensaje}]]</td>
                                        <td>
                                            <a th:href="@{/formularioContacto/modificar/}+${f.idContacto}" class="btn btn-custom-secondary">
                                                <i class="fas fa-pencil-alt"></i> Editar
                                            </a>
                                            <a th:href="@{/formularioContacto/eliminar/}+${f.idContacto}" class="btn btn-custom-secondary">
                                                <i class="fas fa-trash"></i> Eliminar
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>  
                    </div>
                </div>
            </div>
        </section>

        <section th:fragment="editarFormularioContacto">
            <div class="row p-3">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST"
                          th:action="@{/formularioContacto/guardar}" 
                          th:object="${formularioContacto}"
                          class="was-validated"                          
                          enctype="multipart/form-data">
                        <input type="hidden" name="idContacto" th:field="*{idContacto}"/>
                        <div class="row py-4 mb-4 bg-light">
                            <div class="col-md-4 d-grid">
                                <a th:href="@{/formularioContacto/listado}" class="btn btn-custom-secondary">
                                    <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                                </a>
                            </div>
                            <div class="col-md-4 d-grid">                                
                                <a th:href="@{/formularioContacto/eliminar/}+${formularioContacto.idContacto}"
                                   class="btn btn-custom-secondary">
                                    <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                                </a>
                            </div>
                            <div class="col-md-4 d-grid">
                                <button type="submit" class="btn btn-custom-secondary">
                                    <i class="fas fa-check"></i> [[#{accion.guardar}]]
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="card">
                                <div class="card-header">
                                    <h4>[[#{accion.actualizar}]]</h4>
                                </div>
                                <div class="card-body">
                                    <div class="mb-3">
                                        <label for="idUsuario">[[#{formularioContacto.nombreMetodo}]]</label>
                                        <input type="number" class="form-control" 
                                               name="idUsuario" th:field="*{idUsuario}"
                                               required="true"/>
                                    </div>
                                    <div class="mb-3">
                                        <label for="asunto">[[#{formularioContacto.nombreMetodo}]]</label>
                                        <input type="text" class="form-control" 
                                               name="asunto" th:field="*{asunto}"
                                               required="true"/>
                                    </div>
                                    <div class="mb-3">
                                        <label for="mensaje">[[#{formularioContacto.nombreMetodo}]]</label>
                                        <input type="text" class="form-control" 
                                               name="mensaje" th:field="*{mensaje}"
                                               required="true"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </body>
</html>
