<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/plantilla :: head}">
    <meta charset="UTF-8"/>
</head>

<body>
<!-- 1 Sección para crear el boton de agregar... llamará a una ventana modal-->
<section th:fragment="tabs">
    <div class="row p-3">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a aria-current="page" class="nav-link active" href="/producto/listado">Todo</a>
            </li>
            <li class="nav-item" th:each="c : ${categorias}">
                <a class="nav-link" th:href="@{/producto/listado/} + ${c.idCategoria}">[[${c.nombreCategoria}]]</a>
            </li>
        </ul>
    </div>
</section>
<!-- 2 Sección para mostrar las tarjetas de los productos -->
<section th:fragment="tarjetas">
    <div class="row row-cols-4 p-2">
        <div class="card" style="width: 18rem;" th:each="p : ${productos}">
            <figure>
                <img alt="..." class="card-img-top" height="200" th:src="${p.imagen}"/>
                <figurecaption class="d-flex justify-content-between">
                    <span>¢[[${p.precio}]]</span>
                    <span>([[${p.stock}]])</span>
                </figurecaption>
            </figure>

            <div class="card-body">
                <h5 class="card-title">[[${p.descripcion}]]</h5>
                <p class="card-text">[[${p.estado}]]</p>
                <button class="btn btn-primary" href="#">
                    <i class="fas fa-cart-arrow-down"></i>
                </button>
                <button class="btn btn-primary">
                    <i class="fas fa-edit">
<!--                    working on it   <a th:href="@{/producto/modificar/} + ${idProducto}"></a>-->
                    </i>
                </button>
                <button class="btn btn-primary">
                    <i class="fas fa-trash">
                        <a th:href="@{/producto/eliminar/} + ${idProducto}"></a>
                    </i>
                </button>
            </div>
        </div>
    </div>
</section>



</body>
</html>
