<!-- Archivo: tarjetas.html (o el archivo donde mostrás los productos) -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/plantilla :: head}">
    <title>Techshop</title>
    <meta charset="UTF-8"/>
</head>
<body>

<!-- 1 Sección para crear el botón de agregar... llamará a una ventana modal -->
<section th:fragment="tabs">
    <div class="row p-3">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a aria-current="page" class="nav-link active" href="/pruebas/listado">[[#{pruebas.todas}]]</a>
            </li>
            <li class="nav-item" th:each="c : ${categorias}">
                <a class="nav-link" th:href="@{/pruebas/listado/} + ${c.idCategoria}">[[${c.nombreCategoria}]]</a>
            </li>
        </ul>
    </div>
</section>

<!-- 2 Sección para mostrar las tarjetas de los productos -->
<section th:fragment="tarjetas">
    <div class="row row-cols-4 p-2">
        <div class="card" style="width: 18rem;" th:each="p : ${productos}">
            <figure>
                <img alt="..." class="card-img-top" height="200" th:src="${p.imagen}"/>
                <figurecaption class="d-flex justify-content-between">
                    <span>₡[[${p.precio}]]</span>
                    <span>([[${p.stock}]])</span>
                    <form>
                        <input type="hidden"
                               name="idProducto"
                               th:value="${p.idProducto}"/>
                        <input type="hidden"
                               name="existencias"
                               th:value="${p.stock}"/> <!-- ⚠ aquí está el cambio -->
                        <button type="button"
                                onclick="addCart(this.form)"
                                class="btn btn-light">
                            <i class="fas fa-cart-arrow-down"></i>
                        </button>
                    </form>

            </div>
        </div>
    </div>
</section>
<!-- Contenedor donde se cargará el carrito al hacer clic en agregar -->
<div id="resultBlock"></div>
</body>

</html>

